 <% if messages.present? %>
 <% messages.each do |m| %>
 <div class="chat-box">
   <div class="chat-face">
     <!-- アバターの記述があった -->
   </div>
   <div class="chat-hukidashi"><%= m.user.name %>：<strong><%= m.message %></strong> <br>
   </div>
 </div>
 <% end %>
 <% end %>